@model Shopping.Shared.DTOs.AllOrdersDTO

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>OrderDTO</h4>
    <hr />
    @foreach (var order in Model.Orders)
    {
    <dl class="dl-horizontal">

        Total Amout :
        <dd>
            @order.TotalAmount;
        </dd>

        Order Staus:
        <dt>
            @order.OrderStatus;
        </dt>

        Products:
        @for (int i = 0; i < order.orders.Count; i++)
        {
            <dt>
                Product Name:
            </dt>

            <dt>
                @order.orders[i].ProductName
            </dt>
            <dt>
                Quanity:
            </dt>
            
            <dd>
                @order.orders[i].Quantity
            </dd>

        }
        @*@Html.EditorFor(x => (x.Orders.FirstOrDefault(y => y.Id == order.Id).orders))*@

    </dl>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
