@model Shopping.Shared.DTOs.CartDTO

@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<div>
    <h4>CartDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        @foreach (var item in Model.items)
        {
            <dt>
                @item.product.Name
            </dt>
            <dt>
                @item.Quantity
            </dt>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
