@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Session["UserName"].ToString()
@Session["Email"].ToString()
@Session["Role"].ToString()
@Session["Id"].ToString()
@Session["Address1"].ToString()

@*@Session["Address2"].ToString()
@Session["Address3"].ToString()*@