@model Shopping.Shared.DTOs.ProductDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">


        <img src="@Model.ImageURL" width="200px" height="200px" />
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    <form action="~/Cart/AddToCart" method="post">
        <input value=@Model.Id name="product" hidden />

        <select name="VariantName">

            @foreach (var v in Model.Variants)
            {
                <option value="@v">@v</option>
            }
            </select>
        <Button type="submit" value="Add To cart" class="btn btn-success ">Add To Cart</Button>
    </form>

</div>
<p>
    @Html.ActionLink("Back to Products List", "Index")
</p>
