@using Shopping.Shared.DTOs
@model Shopping.Shared.DTOs.ProductsDTO

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>
<style>

    .box {
        display: inline-block;
        margin: 7px;
    }

    .textBox {
        background-color: #cccccc;
    }
</style>
<div>

    <hr />
    <dl class="dl-horizontal"></dl>
  
    @foreach (var product in Model.Products)
    {

        <div class="box">
            <img src="@product.ImageURL" width="200px" height="200px" />
            <div class="textBox">
                <p>Name : @product.Name</p>
                <P>Price : @product.Price</P>
                @Html.ActionLink("Details", "Details", "Product", new { product = product.Id }, null)
            </div>

        </div>


    }

</div>
<p>
    @Html.ActionLink("All Products", "Index")
</p>
