@using Shopping.Shared.DTOs


@model PagedList.IPagedList<Shopping.Shared.DTOs.ProductDTO>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>All Products</h2>
<style>

    .box {
        display: inline-block;
        margin: 7px;
        border:double;
        padding:2px;
    }

    .textBox {
        background-color: #cccccc;
    }
</style>
<div>

    <hr />
    <dl class="dl-horizontal"></dl>

    @foreach (var product in Model)
    {
    <div class="box">
        <a href=@Url.Action("Details", "Product",new { product = product.Id },null)>
            <div >
                <img src="@product.ImageURL" width="200px" height="200px" />
                <div class="textBox">
                    <h3>@product.Name</h3>
                    <h4>@product.Price &#x20B9;</h4>
                </div>
            </div>
        </a>
    </div>
    }

</div>
<br>
 Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
<p>
    @Html.ActionLink("All Products", "Index")
</p>
