@using Shopping.Shared.DTOs
@model Shopping.Presentation.ViewModels.ProductFilters

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>ProductsDTO</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    @using (Html.BeginForm())
    {
    <p>

        Find by name: @Html.TextBox("searchString", ViewBag.searchString as string)

        Find by Category:
        @{var lookupItem = Model.categories.categories;}
        @Html.DropDownListFor(m => m.categories.categories, lookupItem.Select(x => new SelectListItem { Text = x.Name, Value = x.Id.ToString() }), "-- All --", new { @class = "form-control" })


        @*@Html.DropDownListFor(m => m.categories.categories, new SelectList(Model.categories.categories, "Name", "Name"))*@

        <input type="submit" value="Search" />
    </p>
    }

    @foreach (var product in Model.productsDTOs.Products)
    {
    <dl class="dl-horizontal">

        Price :
        <dd>
            @product.Price;
        </dd>

        name:
        <dt>
            @product.Name
        </dt>
        Category:
        <dt>
            @product.Category.Name
        </dt>

        Variants:
        @for (int i = 0; i < product.Variants.Count; i++)
        {
            <dt>
                Variant:
            </dt>

            <dt>
                @product.Variants[i]

            </dt>

        }

        @Html.ActionLink("Add To Cart", "AddToCart", "Cart", new { product = product.Id }, null);


        @*@using (Html.BeginForm("AddToCart", "Cart", new { product = product.Id }))
        {
            <p>
                <input type="submit" value="Cart" />
            </p>
        }*@


    </dl>
    }

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
