@*@model Shopping.Shared.DTOs.HomePageDTO*@
@model PagedList.IPagedList<Shopping.Shared.DTOs.ProductDTO>
@using PagedList.Mvc;
@{
    ViewBag.Title = "SearchResults";
}
<style>

    .box {
        display: inline-block;
        margin: 7px;
    }

    .textBox {
        background-color: #cccccc;
    }
</style>
<h2>Seach Result</h2>

<div>
    <h4>Products Found</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (Model.Count() != 0)
        {
            foreach (var product in Model)
            {
                <a href=@Url.Action("Details", "Product",new { product = product.Id },null)>
                    <div class="box">
                        <img src="@product.ImageURL" width="200px" height="200px" />
                        <div class="textBox">
                            <h3>@product.Name</h3>
                            <h4>@product.Price &#x20B9;</h4>
                        </div>
                    </div>
                </a>
            }
            <br />
            <text>Page : </text>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <text>of</text> @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("SearchResults",
                new { page, category = ViewBag.category, searchString = ViewBag.SearchString }))
        }
        else
        {
            <p>No Results Found!</p>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Find more Products here!", "Index")
</p>
